
@media (min-width: 1400px){
  .body {
      width: 80rem;
  }
  }
@media (max-width: 1400px){
.body {
    width: 80%;
}
}

@media (max-width: 990px){
.body {
    width: 100%;
}
}

.body {
  
  margin-right: auto;
  margin-left: auto;
}

.background {
  background-color: #fefff3;
}

.nomargin {
  margin: 0px;
  margin-right: 0px;
}

.headerbackground {
  background-image: url(img/map.jpeg);
  background-size: cover;
  min-height: 700px;
  max-height: 900px;
}

.vert-middle {
  vertical-align: middle;
}

.overlay-text {
  position: relative;
  top: 10rem;
}

.abstand {
  margin-top: 5rem;
}

.abstand2 {
  margin-top: 2rem;
}

.backgroundgrey {
  background-color: #cfe6d4;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  height: 100%;
  width: 100%;
}

.responsive {
  width: 100%;
  height: auto;
 
}



@media (min-width: 990px) {
  .label {
    height: 10rem;
    width: auto;
    margin-bottom: 3rem;
}
p {
  font-size: 1rem;
}

}

@media (max-width: 990px){
        .label {
            height: 8rem;
            width: auto;
            margin-bottom: 3rem;
            
        }
  p {
          font-size: 3vw;
        }
        .backgroundgrey{
            background-color: #CFE6D4;
            padding: 3rem;
            min-height: 25rem;
            max-height: 36rem;
        }
}

.mittig {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pfeil {
  height: 1.5rem;
  width: auto;
  margin-top: 2.4rem;
  margin-left: 0.6rem;
  float: left;
}


@media (min-width: 800px){
.floatleft {
  float: left;
  margin-top: 2rem;
}
}




.laden1 {
  background-image: url(img/laden1.png);
  height: 30rem;

  width: auto;

  background-size: cover;
}

.padding-right {
  padding-right: 0px;
}

.padding-left {
  padding-left: 0px;
}

@media (min-width: 1500px) {
  hr {
    background-color: white;
    height: 0.04rem;
    margin-right: 5rem;
  }
}
@media (min-width: 1000px) {
  hr {
    background-color: white;
    height: 0.04rem;
  }
}
@media (max-width: 1000px) {
  hr {
    background-color: white;
    display: none;
  }
}

@media (max-width: 1000px) {
  .nopadding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@font-face {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.margintoph3 {
  padding-top: 2rem;
}

h1,
.h1 {
  font-size: 4rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #be3a2b;
  letter-spacing: 0.7rem;
}

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3rem;
  text-align: justify;
  margin: 0px;

}

h2,
.h2 {
  font-size: 6rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  letter-spacing: 0.9rem;
}

h3 {
  font-size: 2rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  letter-spacing: 0.4rem;
}

h4 {
  font-size: 3rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #be3a2b;
  letter-spacing: 0.7rem;
  padding-bottom: 2rem;
}
h5 {
  font-size: medium;
}

@media (max-width: 1000px) {
  .paddingrand {
    padding-left: 2rem;
  }
  .supporthashtag {
    font-size: 2.5rem;
  }
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  color:#BE3A2B;
  text-decoration: none;


}

.paddingunten {
  padding-bottom: 2rem;
}

.roteschrift{
  font-size: 2.6vw;
}

footer {
  margin-top: 5rem;
  background-color: #cfe6d4;
  height: 20rem;
  width: 100%;
  padding-top: 5rem;
}

.wirgegencorona {
  height: 6rem;
  width: auto;
}

/* uber uns seite */

.headerbackgrounduberuns {
  background-image: url(img/headuberuns.png);
  background-size: cover;
  min-height: 700px;
}

.road {
  height: 60rem;
  width: auto;
  padding-left: 5rem;

  background-size: cover;
}

.backgroundgreyuberuns {
  background-color: #cfe6d4;
  padding: 3rem;
  min-height: 25rem;
}

.button {
    position: relative; 
    top: 23rem;
    left: 30rem;
    text-align: center;
    background-color: #BE3A2B;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-radius: 30px;
    display: table-cell;
    vertical-align: middle 
}

.pfeil2 {
    height: 1.5rem;
    width: auto;
    margin-top: 1.5rem;
    margin-left: 0.6rem;
    float: left;
}

.floatleft2 {
    float: left;
    margin-top: 1rem;
}



/* mobil */

@media (max-width: 800px){
.mobilhead {
    font-size: 3.5rem;
}
.mobilheadbutton {
    font-size: 1.5rem;
}
.mobilpfeil {
    height: 0.9rem;
    margin-top: 0.1rem;
}
.floatleft3 {
    float: left;
    
}
}
